@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>League Data Analyzer</h1>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Welcome to League Data Analyzer</h2>
        <p>
            League Data Analyzer is an application to provide you the history of matches in league of legends video game.
        </p>
    </div>
</div>