@model LeagueDataAnalyzer.Models.MatchResult

@{
    ViewBag.Title = "GetKey";
}

<h2>GetKey</h2>

<div>
    <h4>MatchResult</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Raw("Riot Key")
        </dt>

        <dd>
            <p>@ViewBag.RiotKey</p>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
